body {
  /* background-color: #F0EBE3; */
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.profile-pic {
  border-radius: 50%;
  width: 20%;
}

.fit-pic {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.python-pic{
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top_container {
  background-color: #A5BECC;
  position: relative;
  padding-top: 70px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #576F72;
  margin: 0;
  line-height: 2;
  padding: 50px 0 20px;
}

h1 {
  font-size: 5.625rem;
  margin: 150px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #4C3A51;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #4C3A51;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4C3A51;
}

a {
  color: #4C3A51;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copywrite {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

p {
    line-height: 2;
    font-size: 1.5rem;
}

/* .skills {

} */

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}
/* .skill-row p {
  text-align: left;
} */

.top-cloud {
  position: absolute;
  /* right: 300px; */
  right: 18.75%;
  /* top: 40px */
  top: 4.5%;
}

.bottom-cloud {
  position: absolute;
  /* left: 250px; */
  left: 15.625%;
  /* bottom: 300px; */
  bottom: 35%
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #A5BECC;
  background-image: -webkit-linear-gradient(top, #A5BECC, #A5BECC);
  background-image: -moz-linear-gradient(top, #A5BECC, #A5BECC);
  background-image: -ms-linear-gradient(top, #A5BECC, #A5BECC);
  background-image: -o-linear-gradient(top, #A5BECC, #A5BECC);
  background-image: linear-gradient(to bottom, #A5BECC, #A5BECC);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #748DA6;
  background-image: -webkit-linear-gradient(top, #748DA6, #748DA6);
  background-image: -moz-linear-gradient(top, #748DA6, #748DA6);
  background-image: -ms-linear-gradient(top, #748DA6, #748DA6);
  background-image: -o-linear-gradient(top, #748DA6, #748DA6);
  background-image: linear-gradient(to bottom, #748DA6, #748DA6);
  text-decoration: none;
}
